.rojo {
    background-color: red;
}

.azul {
    background-color: rgb(255, 240, 201);
}

.body {
 
   
    min-height: 100vh;
}

.barra-lateral {
    
    min-height: 100% !important;
}



body{
    background-image: url(../img/top-view-beautiful-arrangement-of-green-foliage.jpg) !important;
}

@media (min-width:992px) {

    .nav-activar {
        display: flex !important;
        justify-content: center !important;
    }

}

.fondo-transparente{
    background-color: rgba(255, 255, 255, 0) !important;
}
.fondo-transparente-nav {
    background-color: rgba(34, 36, 37, 0.5) !important;
}
.navbar-light .navbar-toggler {
    background-color: #eff2f500;
    border-color: rgba(246, 237, 237, 0.85);
  }

.navbar-light .navbar-toggler-icon {
background-image: url(../img/button.png);
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.nav-link:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.632);
    border-radius: 7px !important;
    
}

.a-color {
    color: white;
}



.nav-item:hover .fa-flip-hover{
    -webkit-animation: fa-flip 2s infinite linear;
    -moz-animation: fa-flip 2s infinite linear;
    -o-animation: fa-flip 2s infinite linear;
    animation: fa-flip 2s infinite linear;
    cursor: context-menu;
  }




  .activo {
    background-color: rgba(128, 128, 128, 0.447);
    border-radius: 7px !important;
}
